name: Publish
on:
  push:
    branches:
      - "main"
  workflow_dispatch:

permissions:
  id-token: write # Required for OIDC
  contents: write
  pull-requests: write

jobs:
  publish_npm:
    name: Publish production NPM packages
    runs-on: ubuntu-latest
    if: "contains(github.event.head_commit.message, 'chore: version packages')"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "24"
          cache: "npm"
      - run: npm ci
      - run: npx lerna publish from-package --yes
