name: publish

on:
  push:
    branches:
      - "main"
  workflow_dispatch:

permissions:
  id-token: write # Required for OIDC
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    if: "contains(github.event.head_commit.message, 'chore: version packages')"
    steps:
      - uses: ./.github/actions/setup
      - run: npx lerna publish from-package --yes
